@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pretendard";
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200; 
    transition: 0.5s;
}

.header {
    position: relative;
    width: 1320px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0px 10px;
}

/* 아래로 스크롤 했을 때 추가되는 선택자 */
.nav-up {
    transform: translateY(-100%);
}

.logo {
    display: block;
}

.logo img {
    width: 110px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 100%;
}

.menu>li>a {
    display: block;
    padding-left: 190px;
}


.menu a {
    font-size: 18px;
    font-weight: 500;
    color: #3A4D5A
}

.menu a:hover {
    font-size: 18px;
    color: #419EE0;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
    gap: 20px;
}

.right img {
    display: block;
}

.right li a:hover {
    filter: opacity(70%);
}

.bg1 {
    background: url(../images/header/main_allinone.png)no-repeat center center /cover;
}

.bg2 {
    background: url(../images/header/main_mist.png) no-repeat center center /cover;
}

.bg3 {
    background: url(../images/header/main_suncraem.png) no-repeat center center /cover;
}


.mySwiper .textbox {
    width: 1320px;
    padding-top: 200px;
    margin: auto;
}

.textbox span {
    background-color: #36373A;
    color: #fff;
    padding: 5px 15px;
    font-size: 26px;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 10px;
}

.more {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    position: relative;
}

.more::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: -2px;
    z-index: -1;
    transform: scaleX(1);
    transform-origin: right;
    transition: 0.3s;
}

.more:hover::before {
    transform: scaleX(0);
}

.mySwiper {
    width: 100%;
    height: 740px;
    margin-top: 101px;
}

.mySwiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.mySwiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #0066ff;
}

.mySwiper .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background: #fff;
}

.bannerh4 {
    color: #F7FF00;
    font-size: 20px;
    font-weight: 300;
}

h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 600;
}

.banner_h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 30px;
}

.title {
    color: #3A4D5A;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 100%;
}

.brandstory img {
    align-items: center;
    display: block;
    margin: auto;
}

.brandstory p {
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    color: rgba(58, 77, 90, 0.85);
    margin: 100px 0;
    line-height: 34px;
}

.brandstory .fresh {
    font-size: 36px;
    text-align: center;
    color: rgba(58, 77, 90, 0.9);
    font-weight: 500;
}

.brand {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin: auto;
}

.brand li {
    padding-left: 10px;
}

h5 {
    font-size: 34px;
    color: #5B5B5B;
    padding-bottom: 10px;
}

.brand span {
    font-size: 48px;
    text-align: left;
    font-weight: 800;
    color: #5B5B5B;
    padding-left: 10px;
}

.brand p {
    text-align: left;
    font-size: 20px;
    color: #807E7E;
    padding-left: 10px;
    padding-bottom: 5px;
    line-height: 30px;
}

.best {
    width: 1320px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex: 1;
    gap: 10px;
}

.best span {
    font-size: 22px;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333333;
}

.best p {
    font-size: 18px;
    text-align: center;
    color: #5B5B5B;
    line-height: 23px;
}

.best img {
    filter: opacity(100%);
}

.best img:hover {
    filter: opacity(75%);
}

.best a:hover span {
    color: #419EE0;
}

.new {
    margin-top: 200px;
    width: 100%;
    height: 500px;
}

.new .textbox {
    width: 1320px;
    padding-top: 140px;
    margin: auto;
}

.new .textbox h4 {
    font-size: 18px;
    color: #419EE0;
    font-weight: 500;
}

.new .textbox p {
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 44px;
    line-height: 28px;
}

.new .textbox h1 {
    line-height: 58px;
}

.bg4 {
    background: url(../images/new/NEW1.jpg) no-repeat center top /cover;
}

.bg5 {
    background: url(../images/new/NEW2.jpg) no-repeat center top /cover;
}

.md {
    width: 100%;
    overflow: hidden;
}

.mdpick1 {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.mdpick2 {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.mdpick1 img {
    margin-left: -305px;
}

.mdpick2 img {
    margin-right: -280px;
}

.mdtextbox1 {
    padding-left: 110px;
    padding-top: 200px;
    width: 370px;
    height: 380px;

}

.mdtextbox1:hover h2 {
    color: #5c95a7;
}

.mdtextbox2 {
    padding-right: 100px;
    padding-top: 200px;
    width: 370px;
    height: 380px;
    text-align: right;

}

.mdtextbox2:hover h2 {
    color: #598b67
}

.mdtextbox1 h4 {
    color: #97C2DE;
    font-size: 18px;
    font-weight: 500;
}


.mdtextbox2 h4 {
    color: #A3C8AD;
    font-size: 18px;
    font-weight: 500;
}


.mdtextbox1 h2,
.mdtextbox2 h2 {
    color: #3A4D5A;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 20px;

}

.mdtextbox1 h3,
.mdtextbox2 h3 {
    color: #807E7E;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 100%;

}

.mdtextbox1 p,
.mdtextbox2 p {
    color: #5B5B5B;
    font-size: 18px;
    line-height: 26px;
}


.event {
    width: 1320px;
    margin: auto;
    padding-bottom: 30px;
}

.event img {
    display: block;
    width: 100%;
    filter: opacity(100%);
}

.event img:hover {
    filter: opacity(80%);
}

.event h2 {
    text-align: center;
    font-size: 32px;
    color: #333333;
    margin: 20px 0 10px;
}

.event h3 {
    text-align: center;
    font-size: 24px;
    color: #5b5b5b;
}

.scent {
    font-size: 42px;
    color: #3A4D5A;
    text-align: center;
    margin-top: 200px;
    font-weight: 600;
    width: 100%;
}

.scent1 {
    font-size: 32px;
    color: #3A4D5A;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.scent2 {
    font-size: 18px;
    color: #3a4d5ae0;
    text-align: center;
    margin-bottom: 50px;
}

video {
    margin: auto;
    display: block;
}

.scentvideo {
    position: relative;
}

.Chamomile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
}

.text2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
    line-height: 32px;
}

.origin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto 0;
}

.origintitle {
    color: #528C62;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0 5px;
}

.origintext {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
}

.low {
    padding-top: 75px;
}

.origin a {
    display: block;
    overflow: hidden;
    border-radius: 20px;
}

.origin img {
    display: block;
    width: 100%;
    filter: opacity(80%);
    transition: 0.4s;

}

.origin li {
    width: 24%;
}

.origin li:hover img {
    filter: opacity(100%);
    transform: scale(1.2);
}

.review {
    width: 100%;
    margin: auto;
}

.review img {
    width: 100%;
}

.review a:hover {
    opacity: 85%;
}

.office {
    width: 1320px;
    display: flex;
    margin: auto;
}

.office img {
    display: block;
    width: 309px;
    height: 91px;
    align-items: center;
}

.map {
    width: 100%;
}

table {
    width: 1011px;
    margin: auto;
    padding-left: 30px;

}

td {
    font-size: 18px;
    padding-right: 40px;
    color: #3A4D5A;
}


.foot1 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin: 30px auto 20px;
}

.foot_logo {
    display: block;
    width: 209px;
    height: 58px;
}

.foot_ul_right {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.sns img {
    width: 39px;
    height: 39px;
}

.foot_ul_right a:hover {
    opacity: 50%;
}


.foot_ul_bottom {
    display: flex;
    justify-content: flex-start;
    width: 1320px;
    margin: 20px auto;
    gap: 10px;
}

.foot_ul_bottom a {
    font-size: 14px;
    color: #3A4D5A;
}

.foot_ul_bottom a:hover {
    font-size: 14px;
    border-bottom: 1px solid #333333;
}


.footer p {
    font-size: 13px;
    color: #5b5b5b;
    width: 1320px;
    margin: 0 auto 20px;
}

.foot2 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin: auto;
}


.mark {
    width: 74px;
    height: 50px;
}

html {
    scroll-behavior: smooth;
}
